.form-group textarea[disabled], .form-group textarea:disabled,
.form-group select[disabled], .form-group select:disabled {
    background-color: #eee !important;
    color: #848484 !important;
}

.breadcrumb li i{
    color:#fff;
}